.s-privacy { max-width: 46rem; }
.s-privacy__part { margin-bottom: 2rem; }
.s-privacy__part h3 { font-size: 1.25rem; margin-bottom: 0.5rem; }
.s-privacy__part li { margin-bottom: 0.5rem; }
.s-privacy__updated { font-size: 0.9rem; }
